.count_phones(data-count="19")
  .count_phones-title
    strong Телефоны:
  .count_phones-sub
    strong Архив
    p 8 (495) 602-49-74
    strong Канцелярия по уголовным делам
    p 8 (495) 602-49-87
    strong Гражданская канцелярия
    p 8 (495) 602-49-75
    strong Экспедиция:
    p 8 (495) 602-49-73
