.count_phones(data-count="16")
  .count_phones-title
    strong Телефоны:
  .count_phones-sub
    strong Канцелярия по уголовным делам
    p тел., факс 8 (499) 784-76-30
    strong Гражданская канцелярия
    p тел. 8 (499) 784-76-20<br> факс 8 (499) 784-76-21
    strong Архив:
    p тел., факс 8 (499) 784-75-90
    strong Экспедиция:
    p тел. 8 (499) 784-76-40
