.count_phones(data-count="12")
  .count_phones-title
    strong Телефоны:
  .count_phones-sub
    strong Приемная председателя суда
    p (495) 919-17-71
    strong Канцелярия по уголовным делам
    p (495) 378-11-18
    strong Гражданская канцелярия
    p (495) 379-61-78
    strong Архив:
    p (495) 379-64-24
    strong Экспедиция:
    p (495) 657-79-84
