.count_phones(data-count="18")
  .count_phones-title
    strong Телефоны:
  .count_phones-sub
    strong Приемная председателя
    p 8 (499)739-31-80
    strong Начальник отдела:
    p 8 (499) 739-31-49
    strong Канцелярия по уголовным делам
    p 8 (499) 739-31-50
    strong Гражданская канцелярия
    p 8 (499) 739-31-78
    strong Экспедиция:
    p 8 (499) 739-31-51
