.count_phones(data-count="10")
  .count_phones-title
    strong Телефоны:
  .count_phones-sub
    strong Приемная председателя суда
    p 8-499-261-51-08
    strong приёмная
    p 8-499-729-94-35
    strong Канцелярия по уголовным делам
    p 8-499-261-45-21
    strong Гражданская канцелярия
    p 8 499 124-69-77
    strong Экспедиция:
    p (телефон/факс) 8-499-261-45-63
    strong Гражданская канцелярия
    p 8-499-261-78-12
