.count_phones(data-count="1")
  .count_phones-title
    strong Телефоны:
  .count_phones-sub
    strong приёмная
    p.
      телефон 8 495 959-82-60
      факс 8 495 959-82-60
    strong Канцелярия по гражданским делам
    p 450-47-93
    strong Канцелярия по уголовным делам
    p 450-44-29
    strong Экпедиция:
    p 450-28-14
    strong Архив:
    p 450-42-39
