.count_phones(data-count="11")
  .count_phones-title
    strong Телефоны:
  .count_phones-sub
    strong Приемная председателя суда
    p 8 (499) 150-92-35
    strong Приемная заместителя Председателя суда:
    p 8 (499) 150-92-32
    strong Пресс-секретарь:
    p 8 (499) 150-92-35
    strong Канцелярия по уголовным делам
    p (Телефон / факс): 8 (495) 450-45-79
    strong Гражданская канцелярия
    p (Телефон / факс): 8 (495) 450-45-78
    strong Экспедиция:
    p 8 (495) 450-04-69
    strong Гражданская канцелярия
    p 8 (495) 450-09-05
