.count_phones(data-count="17")
  .count_phones-title
    strong Телефоны:
  .count_phones-sub
    strong Приемная председателя
    p (499) 613-80-80
    strong Канцелярия по уголовным делам
    p (499) 613-99-16
    strong Гражданская канцелярия
    p (499) 782-80-15<br> 782-84-61
    strong Экспедиция:
    p (499) 782-80-14<br> 782-84-60
