.count_phones(data-count="14")
  .count_phones-title
    strong Телефоны:
  .count_phones-sub
    strong Администратор:
    p 8 (495) 912-82-71
    strong Канцелярия по уголовным делам
    p 8 (495) 912-07-50
    strong Гражданская канцелярия
    p 8 (495) 912-48-16
    strong Архив:
    p 8 (495) 678-45-14
    strong Экспедиция:
    p 8 (495) 912-78-86
