.count_phones(data-count="15")
  .count_phones-title
    strong Телефоны:
  .count_phones-sub
    strong Приемная председателя
    p 8 (495) 680 18 88
    strong Канцелярия по уголовным делам
    p 8 (495) 680-19-79<br> факс.: 8 (495) 680-80-83
    strong Гражданская канцелярия
    p 8 (495) 680-26-97
    strong Отдел по административным делам:
    p 8 (495) 680-26-97
    strong Приемная
    p 8 (495) 680-18-88
    strong Экспедиция:
    p тел. 8 (495) 680-23-79
