.count_phones(data-count="13")
  .count_phones-title
    strong Телефоны:
  .count_phones-sub
    strong Приёмная суда:
    p 416-62-40
    strong Канцелярия по уголовным делам
    p 416-62-28
    strong Гражданская канцелярия
    p 416-62-17
    strong Архив:
    p 416-62-30
    strong Экспедиция:
    p 416-62-50
