.count_phones(data-count="24")
  .count_phones-title
    strong Телефоны:
  .count_phones-sub
    strong Приемная председателя
    p 8 (499) 250-40-31
    strong Канцелярия по уголовным<br> и административным делам:
    p тел. 675-03-88<br> факс 675-04-88
    strong Гражданская канцелярия
    p тел. 675-38-33<br> факс 675-36-55
    strong Канцелярия<br> по административным делам
    p тел./факс 675-36-99
    strong Экспедиция
    p 675-37-99
    strong Архив
    p 675-51-75


