.count_phones(data-count="26")
  .count_phones-title
    strong Телефоны:
  .count_phones-sub
    strong Приемная Председателя суда
    p 911-03-85
    strong Уголовная канцелярия:
    p 911-71-19
    strong Гражданская канцелярия
    p 912-49-42
    strong Экспедиция, архив:
    p 911-12-89
    strong Администратор суда
    p 911-70-96


