.count_phones(data-count="2")
  .count_phones-title
    strong Телефоны:
  .count_phones-sub
    strong приёмная
    p.
      телефон 8 495 959-82-60
      факс 8 495 959-82-60
    strong гражданская канцелярия
    p 8 495 236-75-86,<br> 8 495 959-82-29
    strong уголовная канцелярия:
    p 8 495 959-81-96
    strong Экпедиция:
    p (495) 8 495 236-49-21
