.count_phones(data-count="25")
  .count_phones-title
    strong Телефоны:
  .count_phones-sub
    strong Приемная суда
    p 435-93-16
    strong Уголовная канцелярия:
    p 439-68-47
    strong Гражданская канцелярия
    p 435-53-13
    strong Экспедиция
    p 435- 63-62


