.count_phones(data-count="20")
  .count_phones-title
    strong Телефоны:
  .count_phones-sub
    strong Консультант суда
    p 8 (499) 748-78-86
    strong Архив
    p 8 (495) 602-49-74
    strong Канцелярия по уголовным делам
    p 8 (499) 748-67-22
    strong Гражданская канцелярия
    p 8 (499) 748-67-00
    strong Экспедиция:
    p 8 (499) 748-71-88
