.count_phones(data-count="28")
  .count_phones-title
    strong Телефоны:
  .count_phones-sub
    strong Приемная суда
    p (499) 745-44-28
    strong Уголовная канцелярия:
    p тел.: 482-30-36<br> факс: 482-21-85
    strong Гражданская канцелярия
    p тел.: 482-30-36<br> факс: 482-21-85
    strong Экспедиция
    p 482-16-74
    strong Архив
    p 482-16-74


