.count_phones(data-count="21")
  .count_phones-title
    strong Телефоны:
  .count_phones-sub
    strong Приемная председателя
    p тел/факс: (495)652-85-24;<br> (495)652-85-29
    strong Архив
    p 8 (499) 748-11-47
    strong Канцелярия по уголовным<br> и административным делам:
    p 8 (499) 748-10-93,<br> 8 (495) 652-89-15
    strong Гражданская канцелярия
    p 8 (495) 652-88-24,<br> 8 (495) 652-88-93
    strong Экспедиция:
    p 8 (499) 748-10-97
