.count_phones(data-count="23")
  .count_phones-title
    strong Телефоны:
  .count_phones-sub
    strong Приемная председателя
    p 8 (499) 250-40-31
    strong Канцелярия по уголовным<br> и административным делам:
    p 8 (499) 251-03-98
    strong Гражданская канцелярия
    p 8 (499) 250-58-47
    strong Архив
    p 8 (499) 748-11-47
