.count_phones(data-count="27")
  .count_phones-title
    strong Телефоны:
  .count_phones-sub
    strong Приемная Председателя суда
    p 911-03-85
    strong Уголовная канцелярия:
    p 694-09-16
    strong Гражданская канцелярия
    p 694-09-17
    strong Экспедиция
    p 694-04-95
    strong Архив
    p 694-07-62
    strong Канцелярия по административным делам
    p 694-05-89
    strong Канцелярия по административным делам
    p 694-09-24


