.count_phones(data-count="34")
  .count_phones-title
    strong Телефоны:
  .count_phones-sub
    //strong Председатель суда:
    //p Тел/ Факс: 8 (499) 794-08-58
    //strong Уголовная канцелярия:
    //p 8 (499) 794-00-09
    //strong Гражданская канцелярия
    //p 8 (499) 794-03-96
    //strong Административная канцелярия
    //p 8 (499) 610-85-08
    //strong Архив:
    //  p 8 (499) 794-09-32
    //strong Экспедиция
    //  p 8 (499) 610-84-08


