.count_phones(data-count="31")
  .count_phones-title
    strong Телефоны:
  .count_phones-sub
    strong Уголовная канцелярия:
    p (499) 248-68-26
    strong Гражданская канцелярия
    p (499) 248-66-11
    strong Экспедиция
    p (499) 248-63-21
    strong Архив
    p (499) 248-31-93


