.count_phones(data-count="30")
  .count_phones-title
    strong Телефоны:
  .count_phones-sub
    strong Приёмная председателя суда
    p телефон 8 (499) 124-45-85<br> факс: 8 (499) 125-88-00
    strong Уголовная канцелярия:
    p 8 (499) 124-31-24
    strong Гражданская канцелярия
    p 8 (499) 124-31-37
    strong Административная канцелярия
    p 8 (499) 125-25-81


