.count_phones(data-count="3")
  .count_phones-title
    strong Телефоны:
  .count_phones-sub
    strong Приемной председателя:
    p 8 (495) 471-26-66
    strong Гражданской канцелярии:
    p 8 (495) 471-06-77
    strong Уголовной канцелярии:
    p 8 (495) 471-06-33
    strong Экпедиции:
    p 8 (495) 471-04-88
    strong Архив:
    p 8 (495) 471-06-44