.count_phones(data-count="5")
  .count_phones-title
    strong Телефоны:
  .count_phones-sub
    strong приёмная председателя суда
    p тел./факс (499) 975-54-65
    strong канцелярия по гражданским<br> делам, экспедиция
    p (499) 975-38-67
    strong канцелярия по уголовным делам<br> и делам об административных правонарушениях:
    p (499) 975-39-29
    strong Экпедиции:
    p 8 (495) 471-04-88
    strong Архив:
    p (499) 975-52-61
    strong электронная почта суда
    a(href="mailto:basmanny.msk@sudrf.ru") basmanny.msk@sudrf.ru