.count_phones(data-count="6")
  .count_phones-title
    strong Телефоны:
  .count_phones-sub
    strong Председатель суда:
    p (499)766-13-41
    strong Канцелярия по гражданским делам
    p (499) 766-10-39<br> (499) 766-10-53
    strong Канцелярия по уголовным делам
    p (499) 766-18-52<br> (499) 766-18-48
    strong Экпедиция:
    p тел/факс (499) 766-18-39
    strong Архив:
    p (499) 766-19-07
