.count_phones(data-count="7")
  .count_phones-title
    strong Телефоны:
  .count_phones-sub
    strong Приемная председателя:
    p тел./факс 951-77-67
    strong Канцелярия по гражданским делам
    p тел. 953-55-60,<br> факс 953-67-84
    strong Канцелярия по уголовным делам
    p тел. 951-75-58,<br> факс 953-67-82
    strong Административные дела (каб. 208)
    p 951-75-58
    strong Экпедиция:
    p тел/факс 951-69-50
    strong Архив:
    p (499) 951-09-13
