.count_phones(data-count="8")
  .count_phones-title
    strong Телефоны:
  .count_phones-sub
    strong Приемная председателя:
    p т./ф. 8-499-729-99-85
    strong Канцелярия по гражданским делам
    p 8-499-729-94-35
    strong Канцелярия по уголовным делам
    p 8-499-72993-76
    strong Административные дела (каб. 208)
    p 951-75-58
    strong Экпедиция:
    p 8-499-729-96-34
    strong Архив:
    p 8-499-729-93-97
