.count_phones(data-count="9")
  .count_phones-title
    strong Телефоны:
  .count_phones-sub
    strong Общественная приемная<br> (для подачи документов)
    p 8 499 124-24-88
    strong приёмная
    p 8-499-729-94-35
    strong Канцелярия по уголовным делам
    p 8-499-72993-76
    strong гражданская канцелярия
    p 8 499 124-69-77
