.count_info.js-count
  .row
    .col-lg-4.col-md-4.col-sm-12.col-xs-12
      .count_schedule
        .count_schedule-title
          strong График работы суда:
        .count_schedule-day
          ul
            li
              strong Понедельник:
              p с 9.00 до 18.00
            li
              strong Вторник:
              p с 9.00 до 18.00
            li
              strong Среда:
              p с 9.00 до 18.00
            li
              strong Четверг:
              p с 9.00 до 18.00
            li
              strong Пятница:
              p с 9.00 до 16.45
            li
              strong Обед:
              p
    .col-lg-4.col-md-4.col-sm-12.col-xs-12
      include time/time3
      include time/time5
      include time/time4
      include time/time2
      include time/time1
      include time/time6
      include time/time7
      include time/time8
      include time/time9
      include time/time10
      include time/time11
      include time/time12
      include time/time13
      include time/time14
      include time/time16
      include time/time15
      include time/time17
      include time/time18
      include time/time19
      include time/time20
      include time/time21
      include time/time22
      include time/time23
      include time/time24
      include time/time25
      include time/time26
      include time/time27
      include time/time28
      include time/time29
      include time/time31
      include time/time32
      include time/time30
      include time/time33
      include time/time34
    .col-lg-4.col-md-4.col-sm-12.col-xs-12
      include phones/tel3
      include phones/tel5
      include phones/tel4
      include phones/tel2
      include phones/tel1
      include phones/tel6
      include phones/tel7
      include phones/tel8
      include phones/tel9
      include phones/tel10
      include phones/tel11
      include phones/tel12
      include phones/tel13
      include phones/tel14
      include phones/tel16
      include phones/tel15
      include phones/tel17
      include phones/tel18
      include phones/tel19
      include phones/tel20
      include phones/tel21
      include phones/tel22
      include phones/tel23
      include phones/tel24
      include phones/tel25
      include phones/tel26
      include phones/tel27
      include phones/tel28
      include phones/tel29
      include phones/tel31
      include phones/tel32
      include phones/tel30
      include phones/tel33
      include phones/tel34
