section.section.step
  .container
    .row
      .col-lg-12.col-md-12
        h3.step_header Шаг 1. Решайтесь!
    .row
      .col-lg-12.col-md-12
        .step_wrap
          .step_text
            i.
              Наши юристы готовы оказать юридическую консультацию по досудебному
              урегулированию споров. Записывайтесь по телефону: <a href="tel:8 (495) 585-82-43">8 (495) 585-82-43</a>
            .step_baner
              h2 Все равны перед законом и судом
              i ч.1, ст. 19 Конституции РФ.
            p.
              Решайтесь! Вы можете самостоятельно призвать неправых к ответу,
              восстановить свои нарушенные гражданские права, возместить причиненный материальный
              ущерб и моральный вред самостоятельно, путем подачи <a href="#">искового заявления в суд!</a>
            p.
              Перед тем, как подать иск в суд, посмотрите, действительно ли вы попробовали все пути
              решения конфликта "мирным" путем. Ведь, зачастую, конфликт гораздо легче решить на стадии
              досудебного урегулирования спора. А в некоторых случаях, несоблюдение досудебного порядка урегулирования
              спора (направления претензии, жалобы…) влечет за собой оставление иска без рассмотрения, с
              последующим возвращением его истцу.
            h4 Досудебное урегулирование споров
            p.
              Хотя, для большинства дел не предусмотрен претензионный порядок досудебного урегулирования
              споров, советую Вам все таки написать сначала претензию и передать ее ответчику (лицу, которое
              вы призываете к ответу) в руки или оправить по почте.
            p.
              Возможно, после получения мотивированной претензии, другая сторона пойдет
              на уступки и вам не придется идти в суд. Изложите в претензии ваши требования,
              прикрепите к ней копии документов, на которых эти требования основываются, и
              установите разумный срок, в течение которого будете ждать ответ. У вас обязательно
              должны остаться доказательства того, что вы отправили претензию. Если вы отправляете ее
              почтой – то это должно быть, либо заказное письмо с уведомлением, либо ценное письмо с
              вложенной описью документов. Если передаете лично в руки, пусть на копии претензии,
              которую вы оставите себе, распишется лицо, принявшее ее у вас (с указанием ФИО и даты
              принятия, если ответчик - юридическое лицо, то должности, и с проставлением печати).
            p.
              По сути, претензия должна выглядеть, как <a href="#">исковое заявление</a>, отличаться оно должно
              заглавием (кому… от кого… без указания понятий истца и ответчика), в конце, вместо
              слова «ПРОШУ:», напишите слово «ПРЕДЛАГАЮ:», а также указать, в какие сроки вы просите
              совершить определенное действие с целью восстановления вашего нарушенного права.
              Вам также следует знать, что от того момента, когда вы подадите исковое заявление,
              до того, когда вы реально получите деньги (в случае прохождения всех стадий процесса,
              когда другая сторона не идет на уступки и не соглашается <a href="#">заключить мировое соглашение</a>),
              в большинстве случаев проходит от 2 до 6 месяцев. Это разумеется, в случае принятия решения
              судьей в вашу пользу.
            p.
              Понесенные вами расходы, кроме расходов на представителя в полном объеме, в связи с
              отстаиванием своих прав в суде, в случае полного удовлетворения исковых требований,
              возмещает проигравшая сторона.
            strong.
              Соблюдение досудебного урегулирования споров обязательно в случае изменения и
              расторжения договоров и иных сделок.
            p.
              Так что, если вы уверенны в своей правоте – идите до конца! Расходы, связанные с
              восстановлением вами своих прав в суде, лягут на ответчика.
    .row
      .col-lg-12.col-md-12
        .video_buttons
          a(href="javascript:;", data-fancybox, data-src="#modal")
            span.video_icon1 Задать вопрос юристу
          a(href="#")
            span.video_icon2 Услуги и Цены
