section.section.author
  .container
    .row
      .col-lg-12.col-md-12
        .author_wrap
          .author_img
            img(src="img/person.jpg", alt="person")
          .author_desc
            .author_txt
              strong Доброго времени суток!
              p.
                Приятно с Вами познакомиться!
              p.
                Меня зовут Озеров Алексей Юрьевич. В настоящий момент я являюсь
                главой компании, представляющей широкий спектр юридических
                услуг "Всем в суд!".
              p.
                За время работы по юридической специальности прошел путь от
                помощника адвоката до юрисконсульта префектуры ЗАО,
                ГУ "Генеральная дирекция ЗАО".
              p.
                Получил два высших образования: юридическое, по специальности
                "Юриспруденция", и Экономическое, по специальности
                "Менеджмент организации".
              p.
                В период работы юрисконсультом Префектуры ЗАО, ГУ "Генеральная
                дирекция ЗАО" мною были успешно завершено несколько важных
                судебных процессов, сумма исковых требований по которым
                составляла более 200 000 000 рублей.
              p.
                В настоящий момент, я и мои коллеги ведем дела различной сложности
                в большом спекрте отраслей права (семейное, земельное, трудовое,
                жилищное, административное...). Со всех основных мест работы
                располагаю положительными характеристиками или благодарностями.
                Имею опыт защиты интересов в Судах общей юрисдикции и
                Арбитражных судах.
