section.section.tabs
  .container
    .row
      .col-lg-12.col-md-12
        .tabs_wrap
          .tabs_tab
            ul
              li.active Дипломы
              li Характеристики
              li Сертификаты
              li Благодарности
            .tabs_content
              .tab.show
                .content
                  .content_img
                    a(href="img/docs/d1.jpg", data-fancybox="gallery")
                      img(src="img/docs/d1.min.jpg", alt="docs")
                  .content_img
                    a(href="img/docs/d2.jpg", data-fancybox="gallery")
                      img(src="img/docs/d2.min.jpg", alt="docs")
                  .content_img
                    a(href="img/docs/d3.jpg", data-fancybox="gallery")
                      img(src="img/docs/d3.min.jpg", alt="docs")
              .tab
                .content
                  .content_img
                    a(href="img/docs/ch1.jpg", data-fancybox="gallery")
                      img(src="img/docs/ch1.min.jpg", alt="docs")
                  .content_img
                    a(href="img/docs/ch2.jpg", data-fancybox="gallery")
                      img(src="img/docs/ch2.min.jpg", alt="docs")
                  .content_img
                    a(href="img/docs/ch3.jpg", data-fancybox="gallery")
                      img(src="img/docs/ch3.min.jpg", alt="docs")
                  .content_img
                    a(href="img/docs/ch4.jpg", data-fancybox="gallery")
                      img(src="img/docs/ch4.min.jpg", alt="docs")
              .tab
                .content
                  .content_img
                    a(href="img/docs/s1.jpg", data-fancybox="gallery")
                      img(src="img/docs/s1.min.jpg", alt="docs")
                  .content_img
                    a(href="img/docs/s2.jpg", data-fancybox="gallery")
                      img(src="img/docs/s2.min.jpg", alt="docs")
              .tab
                .content
                  .content_img
                    a(href="img/docs/b1.jpg", data-fancybox="gallery")
                      img(src="img/docs/b1.min.jpg", alt="docs")
                  .content_img
                    a(href="img/docs/b2.jpg", data-fancybox="gallery")
                      img(src="img/docs/b2.min.jpg", alt="docs")
