section.section.articles
  .container
    .row
      .articles_wrap
        h3.articles_header Статьи (кол-во: <span>25</span>)
        .articles_list
          ul.articles_flex
            .col-lg-4.col-md-4.col-sm-6.col-xs-12
              li.articles_item
                .articles_img
                  img(src="img/articles_img.jpg", alt="articles")
                .articles_text
                  strong.articles_title Название статьи
                  .articles_desc
                    p.
                      краткое описание статьи краткое
                      описание статьи краткое описание
                      статьи краткое описание статьи
                  a.articles_btn(href="#") Подробнее
            .col-lg-4.col-md-4.col-sm-6.col-xs-12
              li.articles_item
                .articles_img
                  img(src="img/articles_img.jpg", alt="articles")
                .articles_text
                  strong.articles_title Название статьи
                  .articles_desc
                    p.
                      краткое описание статьи краткое
                      описание статьи краткое описание
                      статьи краткое описание статьи
                  a.articles_btn(href="#") Подробнее
            .col-lg-4.col-md-4.col-sm-6.col-xs-12
              li.articles_item
                .articles_img
                  img(src="img/articles_img.jpg", alt="articles")
                .articles_text
                  strong.articles_title Название статьи
                  .articles_desc
                    p.
                      краткое описание статьи краткое
                      описание статьи краткое описание
                      статьи краткое описание статьи
                  a.articles_btn(href="#") Подробнее
            .col-lg-4.col-md-4.col-sm-6.col-xs-12
              li.articles_item
                .articles_img
                  img(src="img/articles_img.jpg", alt="articles")
                .articles_text
                  strong.articles_title Название статьи
                  .articles_desc
                    p.
                      краткое описание статьи краткое
                      описание статьи краткое описание
                      статьи краткое описание статьи
                  a.articles_btn(href="#") Подробнее
            .col-lg-4.col-md-4.col-sm-6.col-xs-12
              li.articles_item
                .articles_img
                  img(src="img/articles_img.jpg", alt="articles")
                .articles_text
                  strong.articles_title Название статьи
                  .articles_desc
                    p.
                      краткое описание статьи краткое
                      описание статьи краткое описание
                      статьи краткое описание статьи
                  a.articles_btn(href="#") Подробнее
            .col-lg-4.col-md-4.col-sm-6.col-xs-12
              li.articles_item
                .articles_img
                  img(src="img/articles_img.jpg", alt="articles")
                .articles_text
                  strong.articles_title Название статьи
                  .articles_desc
                    p.
                      краткое описание статьи краткое
                      описание статьи краткое описание
                      статьи краткое описание статьи
                  a.articles_btn(href="#") Подробнее
            .col-lg-4.col-md-4.col-sm-6.col-xs-12
              li.articles_item
                .articles_img
                  img(src="img/articles_img.jpg", alt="articles")
                .articles_text
                  strong.articles_title Название статьи
                  .articles_desc
                    p.
                      краткое описание статьи краткое
                      описание статьи краткое описание
                      статьи краткое описание статьи
                  a.articles_btn(href="#") Подробнее
            .col-lg-4.col-md-4.col-sm-6.col-xs-12
              li.articles_item
                .articles_img
                  img(src="img/articles_img.jpg", alt="articles")
                .articles_text
                  strong.articles_title Название статьи
                  .articles_desc
                    p.
                      краткое описание статьи краткое
                      описание статьи краткое описание
                      статьи краткое описание статьи
                  a.articles_btn(href="#") Подробнее
            .col-lg-4.col-md-4.col-sm-6.col-xs-12
              li.articles_item
                .articles_img
                  img(src="img/articles_img.jpg", alt="articles")
                .articles_text
                  strong.articles_title Название статьи
                  .articles_desc
                    p.
                      краткое описание статьи краткое
                      описание статьи краткое описание
                      статьи краткое описание статьи
                  a.articles_btn(href="#") Подробнее
            .col-lg-4.col-md-4.col-sm-6.col-xs-12
              li.articles_item
                .articles_img
                  img(src="img/articles_img.jpg", alt="articles")
                .articles_text
                  strong.articles_title Название статьи
                  .articles_desc
                    p.
                      краткое описание статьи краткое
                      описание статьи краткое описание
                      статьи краткое описание статьи
                  a.articles_btn(href="#") Подробнее
            .col-lg-4.col-md-4.col-sm-6.col-xs-12
              li.articles_item
                .articles_img
                  img(src="img/articles_img.jpg", alt="articles")
                .articles_text
                  strong.articles_title Название статьи
                  .articles_desc
                    p.
                      краткое описание статьи краткое
                      описание статьи краткое описание
                      статьи краткое описание статьи
                  a.articles_btn(href="#") Подробнее
            .col-lg-4.col-md-4.col-sm-6.col-xs-12
              li.articles_item
                .articles_img
                  img(src="img/articles_img.jpg", alt="articles")
                .articles_text
                  strong.articles_title Название статьи
                  .articles_desc
                    p.
                      краткое описание статьи краткое
                      описание статьи краткое описание
                      статьи краткое описание статьи
                  a.articles_btn(href="#") Подробнее
    .row
      .col-lg-12.col-md-12
        ul.articles_pagination
          li.articles_beginning
            a(href="#") В начало
          li.articles_count
            a(href="#") 1
          li.articles_count
            a(href="#") 2
          li.articles_count
            a(href="#") 3
          li.articles_end
            a(href="#") В конец