section.section.video
  .container
    .row
      .col-lg-12.col-md-12
        h3.video_header Начисление алиментов
        .video_wrap
          .video_box
            iframe(src="https://www.youtube.com/embed/BRAEofplq50" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
          .video_text
            strong Добрый день!
            p.
              Меня зовут Озеров Алексей Юрьевич, и я независимый юрист!
              Ко мне поступил вопрос от Марины!
            p.
              Марина развелась с мужем боле полугода назад. У марины осталась годовалая дочь.
              После развода, между Мариной и бывшим супругом не было заключено никакого
              соглашения об уплате алиментов. Бывший супруг Марины под любыми предлогами
              устно уклоняется от уплаты алиментов.
            p.
              Марина спрашивает, можно ли будет истребовать через суд алименты,
              начисляемые с момента развода.
            p.
              Если вы не докажите в суде, что предпринимали каких-либо действий по
              получению с вашего бывшего мужа алиментов до обращения в суд, то обязанность
              по уплате алиментов у вашего бывшего мужа будет считаться с только момента
              обращения в суд!
            p.
              По этому, советую подавать в суд, либо настоять на заключении письменного
              соглашения об уплате алиментов, как можно раньше. Т.к. в случае, когда у вас есть
              документ, свидетельствующий об обязанности лица уплатить алименты, долг лица,
              уклоняющегося от уплаты алиментов, будет расти.
          .video_buttons
            a(href="javascript:;", data-fancybox, data-src="#modal")
              span.video_icon1 Задать вопрос юристу
            a(href="#")
              span.video_icon2 Услуги и Цены