section.section.price
  .container
    .row
      .col-lg-12.col-md-12
        .price_wrap
          h3.price_header ДЛЯ ФИЗИЧЕСКИХ ЛИЦ
            //table beginning
          include tab1
          include tab2
          include tab3
          include tab4
          include tab5
          include tab6
          include tab7
          include tab8
          include tab9
          include tab10
          include tab11
          include tab12
          include tab13
          include tab14
          include tab15
          include tab16
            //table end
          .price_callme Звоните по телефону в Москве:
            a(href="tel:")  +7 (495) 585-82-43
    .row
      .col-lg-12.col-md-12
        .price_wrap
          .price_info
            .price_info-title
              strong Стоимость юридических услуг приятно удивит наших клиентов!
            .price_text
              p.
                Любой человек, нуждающийся в правовой помощи, понимает, что за это придется заплатить.
                Но он хочет, чтобы одновременно и юридические услуги были качественными, и цены -
                умеренными. Но так бывает далеко не всегда.  Поэтому широко распространено мнение,
                что «стоимость  юриста», особенно в крупных городах, весьма высока, и его услуги практически
                недоступны  малоимущим людям.
            .price_info-title
              strong У нас умеренная стоимость юридических услуг в Москве при хорошем качестве!
            .price_text
              p.
                Вы можете обратиться к нам практически по любому юридическому вопросу. Идет ли речь о
                нарушении ваших прав потребителя, о трудовом споре, бракоразводном процессе, или о
                привлечении вас в качестве ответчика по делу – мы готовы вам помочь.
              p.
                Перечень наших услуг включает:
              ul
                li - консультацию клиента по телефону или с помощью электронной связи;
                li  - выезд к нему (домой или в офис);
                li  - составление исковых заявлений, жалоб;
                li  - полное сопровождение в суде, вплоть до момента исполнения судебного решения;
                li  - удаленное сопровождение его дел.
              p.
                Мы готовы в любой момент дать клиенту самую полную информацию о проделанной работе.
                Наш принцип: услуги юриста - на высоком уровне, а их стоимость - на умеренном.  Цены,
                которые выставляются за работу наших юристов, вполне доступны даже малообеспеченным
                гражданам.  При этом мы с одинаковой добросовестностью и вниманием подходим к каждому
                клиенту, с каким бы вопросом он к нам ни обратился. Иными словами, как если бы с ним работал
                частный юрист. Воспользуйтесь нашими услугами, и вы сами убедитесь, что качественная и
                квалифицированная юридическая помощь вовсе не обязательно должна быть дорогой!
            .price_info-title
              strong Услуги юриста и цены
            .price_text
              p.
                Услуги юриста и наши цены на эти услуги являются наиболее приемлимыми для большинства
                граждан России и жителей москвы. Не секрет, что зачастую, стоимость юридических улуг в
                Москве, зачастую является существенно завышенной, по сравнению с теми затратами времени и
                сил, которые несет юрист, занимающийся вашим делом.
              p.
                Наши юристы готовы добросовестно предоставить вам полную отчетность в том, какие
                материальные расходы и временные затраты были понесены во время работы над разрешением
                ваших правовых вопросов.
              p.
                Стоимость услуг юриста на нашем сайте минимальна по отношению с другими подобными
                сайтами!
              p.
                Мы находимся в Районе Чертаново, возле станции метро Южная, метро Чертановская и Метро
                Пражская.
              p.
                Наше расположение является наиболее удобным для жителей районов: Чертаново Южное,
                Чертаново Центральное, Северное Бутово, Центральное бутово, Ясенево и Бирюлёво западное.
              p.
                Если Вас не будет устраивать назначенная юристом стоимость юридических услуг, вы всегда
                можете обговорить с ним, как другие варианты работы с вашим делом, так и иную цену на
                данных виды услуг.
              p.
                На этой странице вы можете видеть наш прайс на юридические услуги, в котором указаны все
                цены на юридические услуги. На любые вопросы, в том числе касающиеся прайс-листа на услуги
                юриста или адвоката, вам подробно ответят по телефону: (495) 585-82-43 (можно звонить
                ежедневно до 23:00). Вы также можете обратиться к нам по электронной почте: Vsemvsud@bk.ru.