.price_table_block
  strong.price_title АДМИНИСТРАТИВНЫМ СПОРАМ<br>
    span Для граждан:
  //table beginning
  .price_table
    table
      thead
        tr
          th Услуга
          th Стоимость
      tbody
        tr
          td.
            Обжалование определений/постановлений ГИБДД (в зависимости
            от сложности дела)
          td От 20 000 до 30 000 руб.
        tr
          td.
            Составление жалобы на действия (бездействие) сотрудников
            ГИБДД в прокуратуру, вышестоящему руководству
          td 7000 руб.
        tr
          td Подготовка документов в суд без представления юристом интересов в суде
          td 5000 руб.
        tr
          td Составление надзорной жалобы на вступившее в силу решение судаие дела об истребовании документов
          td 10 000 руб.