.price_table_block
  strong.price_title Для организаций:
  //table beginning
  .price_table
    table
      thead
        tr
          th Услуга
          th Стоимость
      tbody
        tr
          td.
            Участие в делах о привлечении к административной
            ответственности
          td 35 000 руб.
        tr
          td.
            Обжалование постановлений ФМС
          td 35 000 руб.
        tr
          td Обжалование постановлений налоговой инспекции
          td От 50 000 до 90 000 руб.
        tr
          td Обжалование постановлений ОАТИ г. Москвы
          td 60 000 руб.
        tr
          td Обжалование постановлений Федеральной антимонопольной службы
          td 80 000 руб.
        tr
          td Обжалование постановлений Федеральной службы по экологическому, технологическому и атомному надзору
          td 50 000 руб.
        tr
          td Обжалование постановлений Федеральной Службы по регулированию алкогольного рынка
          td 50 000 руб.