.price_table_block
  strong.price_title ИСПОЛНИТЕЛЬНОЕ ПРОИЗВОДСТВО
  //table beginning
  .price_table
    table
      thead
        tr
          th Услуга
          th Стоимость
      tbody
        tr
          td Получение исполнительного листа в судах общей юрисдикции Москвы и Московской области (по доверенности)
          td 3000 руб.
        tr
          td Составление и подача заявления о возбуждении исполнительного производства
          td 2000 руб.
        tr
          td Контроль хода исполнительного производства (посещение пристава)
          td 2000 руб. (1 поездка)
        tr
          td Автоюрист ОСАГО
          td От 10%
        tr
          td Автоюрист КАСКО
          td От 10%
        tr
          td Взыскание с виновника ДТП
          td От 10%
        tr
          td Помощь при лишении водительских прав
          td От 20 000 руб.
        tr
          td Обжалование постановлений
          td От 5000 руб.