.price_table_block
  strong.price_title Консультирование, подготовка правового заключения.
  .price_table
    table
      thead
        tr
          th Услуга
          th Стоимость
      tbody
        tr
          td Он-лайн консультация юриста
          td Бесплатно
        tr
          td Консультация юриста по телефону
          td Бесплатно
        tr
          td Развернутая консультация с изучением документов
          td 1500 руб.
        tr
          td Развернутая консультация с выездом к заказчику
          td От 3000 руб.
        tr
          td Анализ материалов дела и составление письменного заключения
          td 5000 руб.
        tr
          td Ознакомление с материалами дела в суде
          td 2000 руб.