.price_table_block
  strong.price_title АВТОЮРИСТ
  //table beginning
  .price_table
    table
      thead
        tr
          th Услуга
          th Стоимость
      tbody
        tr
          td Выезд в группу разбора по ДТП
          td От 5000 руб.
        tr
          td Составление искового заявления
          td От 5000 руб.
        tr
          td Представление интересов в страховой компании, ГИБДД
          td От 10 000 руб.
        tr
          td Автоюрист ОСАГО
          td От 10%
        tr
          td Автоюрист КАСКО
          td От 10%
        tr
          td Взыскание с виновника ДТП
          td От 10%
        tr
          td Помощь при лишении водительских прав
          td От 20 000 руб.
        tr
          td Обжалование постановлений
          td От 5000 руб.