.price_table_block
  strong.price_title ДЛЯ ЮРИДИЧЕСКИХ ЛИЦ
  //table beginning
  .price_table
    table
      thead
        tr
          th Услуга
          th Стоимость
      tbody
        tr
          td Консультация юриста в офисе
          td От 2000 руб
        tr
          td Подготовка проекта мирового соглашения (без рассмотрения дела Арбитражным судом)
          td 10 000 руб.
        tr
          td Составление правовых документов (претензий, ходатайств, жалоб)
          td От 5 000 руб
        tr
          td Составление исковых заявлений
          td От 5000
        tr
          td.
            Представительство в арбитражных судах:
            Составление искового заявления
            (жалобы), подготовка доказательной базы,
            выработка позиции и участие в судебных
            заседаниях по доверенности от Клиента
          td.
            Первая инстанция 30 000 руб.
            (в случае упрощенного
            производства): 15 000 руб.
            Апелляция 15 000 руб.
            Кассация 15 000 руб.
            Надзор 7 000 руб.
        tr
          td Подготовка и подача отзыва на исковое заявление, апелляционную и кассационную жалобы
          td От 5 500 до 11 000 руб..
        tr
          td Юридическое сопровождение деятельности
          td От 15 000 руб.
        tr
          td Досудебное урегулирование споров (анализ документов, подготовка претензии, участие в переговорах)
          td 10 000 руб.
        tr
          td Заявление о восстановлении пропущенных процессуальных сроков подачи жалобы на судебное постановление/с подачей
          td 6500 руб.
        tr
          td Ведение арбитражного дела в первой инстанции от составления искового заявления до получения решения
          td От 50 000 руб.
        tr
          td Ведение дела в апелляционной инстанции От подготовки апелляции до получения решения суда
          td 5000 руб.