.price_table_block
  strong.price_title Стоимость услуг юриста по трудовым спорам
  //table beginning
  .price_table
    table
      thead
        tr
          th Услуга
          th Стоимость
      tbody
        tr
          td.
            Составление искового заявления о восстановлении на
            работе/изменении даты и формулировки увольнения/взыскания
            заработной платы
          td 5000 руб.
        tr
          td.
            Ведение дела по взысканию заработной платы
          td 30 000 руб.
        tr
          td Ведение дела по восстановлению на работе
          td 40 000 руб.
        tr
          td Ведение дела по отмене приказов о наложении дисциплинарных
          td 35 000 руб.
        tr
          td Ведение дела об истребовании документов
          td 30 000 руб.
        tr
          td Ведение дела о взыскании надбавок
          td 35 000 руб.
        tr
          td Составление трудового договора (в зависимости от сложности дела)
          td От 3000 до 8000 руб.
        tr
          td Составление коллективного договора (в зависимости от сложности дела)
          td От 10 000 до 15 000 руб.
        tr
          td Составление жалобы
          td 3000 руб.