.price_table_block
  strong.price_title ЮРИСТ ПО ПРЕДСТАВИТЕЛЬСТВУ ИНТЕРЕСОВ ПЕРЕД ГОСУДАРСТВЕННЫМИ ОРГАНАМИ
  //table beginning
  .price_table
    table
      thead
        tr
          th Услуга
          th Стоимость
      tbody
        tr
          td Разработка письменной юридической позиции по защите интересов клиента при возникновении споров с государственными органами
          td От 6000 руб.
        tr
          td.
            Выбор тактики поведения в ходе мероприятий (при допросах,
            при встречных проверках, при выемке документов, при
            осмотре помещений и т.д.)
          td 12000 руб.
        tr
          td Участие юристов в законных открытых переговорах с должностными лицами органов
          td От 5000 руб.
        tr
          td Подготовка письменных возражений на принятые госорганами акты, приказы, постановления
          td 6000 руб.
        tr
          td Представление интересов клиента в госорганах без участия клиента (по доверенности)
          td 10 000 руб.
        tr
          td.
            Составление жалобы в вышестоящий орган
            Подготовка жалоб в вышестоящий орган на действия (бездействия)
            и/ или решения органа
          td 6000 руб.