.price_table_block
  strong.price_title Составление документов
  //table beginning
  .price_table
    table
      thead
        tr
          th Услуга
          th Стоимость
      tbody
        tr
          td Составление искового заявления
          td От 3000 руб.
        tr
          td Составление отзыва (возражений) на исковое заявление
          td От 4000 руб.
        tr
          td Составление претензии
          td От 4500 руб.
        tr
          td Подготовка ответа на претензию
          td От 3000 руб.
        tr
          td Частные жалобы на определение судов первой инстанции
          td От 5000 руб.
        tr
          td Составление апелляционной жалобы
          td От 1000 руб.
        tr
          td Составление кассационной жалобы
          td От 1500 руб.
        tr
          td Другие документы анализ / составление
          td От 500 руб./стр.
        tr
          td Подготовка и подача дополнительных ходатайств
          td 2000 руб.
        tr
          td Заявление о восстановлении пропущенных процессуальных сроков подачи жалобы на судебное постановление/с подачей
          td 5000 руб.
        tr
          td Запрос и получение различных справок, выписок и т.п.
          td 5000 руб.