.price_table_block
  strong.price_title ГРАЖДАНСКИЕ ДЕЛА
  //table beginning
  .price_table
    table
      thead
        tr
          th Услуга
          th Стоимость
      tbody
        tr
          td Защита прав потребителей (консультации, написание претензий, подготовка иска в суд)
          td 15 000 руб.
        tr
          td Составление претензии по спору о защите прав потребителей/по заливу квартиры
          td 4000 руб.
        tr
          td Представительство в суде по делам о защите прав потребителей
          td От 30 000 руб.
        tr
          td Обжалование решения суда по искам о защите прав потребителей
          td 15 000 руб.
        tr
          td УСЛУГИ ПО ВЕДЕНИЮ ДЕЛ О ВОЗМЕЩЕНИИ ВРЕДА
          td
        tr
          td Услуги по ведению дел о компенсации морального вреда
          td стоимость определяется индивидуально
        tr
          td Истребование имущества из чужого незаконного владения/устранения препятствий в пользовании
          td От 30 000 руб.
        tr
          td СОПРОВОЖДЕНИЕ СДЕЛОК С НЕДВИЖИМОСТЬЮ.
          td
        tr
          td Сопровождение сделок купли-продажи жилой недвижимости
          td 10 000 руб.
        tr
          td Сопровождение иных сделок с жилой недвижимостью
          td 10 000 руб.
        tr
          td Сопровождение сделок купли-продажи нежилой недвижимости
          td 13 000 руб.
        tr
          td Сопровождение иных сделок с нежилой недвижимостью
          td 13 000 руб.
        tr
          td Сопровождение сделок купли-продажи коммерческой недвижимости
          td 15 000 руб.
        tr
          td Сопровождение иных сделок с коммерческой недвижимостью
          td 15 000 руб.
        tr
          td Сопровождение сделок купли-продажи земельных участков
          td 12 000 руб.
        tr
          td Сопровождение иных сделок с земельными участками
          td 12 000 руб.
        tr
          td Иные сделки с недвижимостью, все виды
          td Договорная