.price_table_block
  strong.price_title СТОИМОСТЬ УСЛУГ ПО ВЗЫСКАНИЮ ДОЛГОВ (ДЛЯ ФИЗ.ЛИЦ)
  //table beginning
  .price_table
    table
      thead
        tr
          th Услуга
          th Стоимость
      tbody
        tr
          td Досудебный порядок взыскания долга
          td 10 000 руб.
        tr
          td Составление искового заявления о взыскании долга
          td 4000 руб.
        tr
          td Судебное взыскание долгов с организаций
          td От 25 000 руб.
        tr
          td Судебное взыскание долгов с граждан
          td От 30 000 руб.
        tr
          td Фактическое взыскание долгов (Исполнительное производство, банкротство, реструктуризация, продажа имущества с аукциона, блокировка счетов)
          td  12 000 руб. + 17%