.price_table_block
  strong.price_title ДОГОВОРЫ
  //table beginning
  .price_table
    table
      thead
        tr
          th Услуга
          th Стоимость
      tbody
        tr
          td Составление договора поставки
          td 6000 руб.
        tr
          td Составление договора подряда
          td 6000 руб.
        tr
          td Составление договора аренды
          td 5500 руб.
        tr
          td Составление договора купли продажи
          td 5000 руб.
        tr
          td Составление лицензионного договора
          td 8000 руб.
        tr
          td.
            Составление иных договоров, а также дополнительного
            соглашения, оферты, акцепта, приложения к договору,
            спецификации, претензии, письма или иного документа
            относительно условий сделки, выражающего
            волеизъявление сторон(ы) сделки (страница)
          td 2000 руб.
        tr
          td Согласование договора с контрагентом
          td 3000 руб.
        tr
          td Участие в переговорах, собраниях, заседаниях в интересах Заказчика.  (1 час)
          td 2500 руб.
        tr
          td Подготовка соглашений, приложений к договорам
          td От 500 руб./стр.