.price_table_block
  strong.price_title НАСЛЕДСТВЕННЫЕ ДЕЛА
  //table beginning
  .price_table
    table
      thead
        tr
          th Услуга
          th Стоимость
      tbody
        tr
          td Открытие наследства
          td 15 000 руб.
        tr
          td Ведение наследственного дела
          td 30 000 руб.
        tr
          td.
            Сбор документов для вступления в наследственные права
            (органы БТИ, ЕИРЦ, выписка из ЕГРП, справка из ДЖП, ЖФ,
            нотариальные архивы, оценочные компании)
          td От 5500 руб. – (за каждый документ)
        tr
          td Ведение дел по установлению юридических фактов (родственных отношений, факта принятия и открытия наследства)
          td От 30 000 руб.
        tr
          td Стоимость услуг по ведению дел о признании завещания недействительным
          td От 40 000 руб.
        tr
          td Подготовка проекта нотариального запроса
          td 1000 руб.
        tr
          td Восстановление пропущенных сроков для принятия наследства
          td От 25 000 руб.
        tr
          td Установление факта принятия наследства
          td От 25 000 руб.
        tr
          td Составление заявления об отказе от принятия наследства
          td 5000 руб.
        tr
          td Составление соглашения о разделе наследства
          td 7000 руб.
        tr
          td Юридический анализ завещаний, дарственных, договоров
          td 1000 руб.
        tr
          td Участие в переговорах с другими наследниками
          td 5000 руб.