.price_table_block
  strong.price_title БРАЧНО-СЕМЕЙНЫЕ ОТНОШЕНИЯ
  //table beginning
  .price_table
    table
      thead
        tr
          th Услуга
          th Стоимость
      tbody
        tr
          td Расторжение брака в судебном порядке (если есть согласие второй стороны)
          td 20 000 руб.
        tr
          td Расторжение брака в судебном порядке (если нет согласия второй стороны)
          td 25 000 руб.
        tr
          td Представительство в суде по делам о защите прав потребителей
          td От 30 000 руб.
        tr
          td Установление факта проживания в "гражданском браке"
          td От 20 000 руб.
        tr
          td Ведение дела о расторжении брака и раздел имущества супругов
          td От 30 000 руб.
        tr
          td Составление брачного договора
          td 7000 руб.
        tr
          td Составление алиментного соглашения
          td 5000 руб.
        tr
          td Взыскание алиментов
          td 15 000 руб.
        tr
          td Признание брака недействительным
          td 30 000 руб.
        tr
          td Установление отцовства
          td 30 000 руб.
        tr
          td Оспаривание отцовства
          td 40 000 руб.
        tr
          td Лишение родительских прав
          td 50 000 руб.
        tr
          td Определение места жительства ребенка
          td 30 000 руб.
        tr
          td Определение порядка общения с ребенком
          td 30 000 руб.
        tr
          td Подготовка соглашения об определении места жительства
          td 5000 руб.
        tr
          td Подготовка соглашения об определении порядка общения с ребенком
          td 5000 руб.
        tr
          td Составление жалобы на решение суда: апелляционной, кассационной, надзорной
          td 5000 руб.
        tr
          td Подача исполнительного листа в службу судебных приставов
          td 3000 руб.
        tr
          td Получение юристом в суде копии решения, исполнительного листа (в т.ч. дубликата) и любого иного документа.
          td 3000 руб.