.price_table_block
  strong.price_title ЗЕМЕЛЬНОЕ
  .price_table
    table
      thead
        tr
          th Услуга
          th Стоимость
      tbody
        tr
          td Услуги юриста по делам об определении порядка пользования земельным участком/границах земельного участка
          td От 40 000 руб.
        tr
          td Представительство в суде по спорам о признании недействительной сделки с земельным участком
          td От 40 000 руб.
        tr
          td.
            Признание права собственности, права постоянного
            (бессрочного) пользования на земельный участок/устранение
            препятствий в пользовании земельным участком, изъятие
            земельного участка из чужого незаконного владения
          td От 40 000 руб.
        tr
          td Услуги адвоката в земельных спорах с государственными и муниципальными органами власти
          td От 3000 руб.
        tr
          td Анализ материалов дела и составление письменного заключения
          td 5000 руб.
        tr
          td Ознакомление с материалами дела в суде
          td От 40 000 руб.