extends includes/layout

block title
  title Об нас

block content
  //header
  include includes/default/header
  //author
  include includes/about/author
  //tabs
  include includes/about/tabs
  //comments
  include includes/about/comments
  //slider text
  include includes/default/slider_text
  //footer
  include includes/default/footer


