extends includes/layout

block title
  title Статьи

block content
  //header
  include includes/default/header
  //articles page
  include includes/articles/articles
  //slider_text
  include includes/default/slider_text
  //footer
  include includes/default/footer


