extends includes/layout

block title
    title Статья

block content
    //header
    include includes/default/header
    //article page
    include includes/article_in/article_page
    //footer
    include includes/default/footer


