extends includes/layout

block title
  title Вопросы

block content
  //header
  include includes/default/header
  //calc
  include includes/calc/calc
  //calc
  include includes/calc/specific
  //footer
  include includes/default/footer