extends includes/layout

block title
  title Контакты

block content
  //header
  include includes/default/header
  //articles page
  include includes/contacts/contacts
  //footer
  include includes/default/footer