extends includes/layout

block title
    title vsemVsud

block content
    //header
    include includes/default/header
    //buners
    include includes/index/baners
    //section
    include includes/index/top_section
    //list_art
    include includes/index/list_art
    //slider
    include includes/index/slider
    //slider_text
    include includes/default/slider_text
    //footer
    include includes/default/footer


