extends includes/layout

block title
  title Квитанция

block content
  //header
  include includes/default/header
  //count
  include includes/order/order
  //footer
  include includes/default/footer


