extends includes/layout

block title
  title Вопросы

block content
  //header
  include includes/default/header
  //count
  include includes/price/price
  //slider_text
  include includes/default/slider_text
  //footer
  include includes/default/footer


