extends includes/layout

block title
  title Вопросы

block content
  //header
  include includes/default/header
  //count
  include includes/video_list/video_list
  //footer
  include includes/default/footer


