- var test = "It`s test var"
-var url = ["https://www.facebook.com/", "https://www.facebook.com/", "https://www.facebook.com/"]
-var name = ["Главная", "Вторая", "Третья"]
-var menu = [{url: "https://www.facebook.com/", name: "Главная"},{url: "https://www.facebook.com/", name: "Вторая"},{url: "https://www.facebook.com/", name: "Третья"}, {url: "https://www.facebook.com/", name: "Четвертая"}]
-var menu2 = [{url: "https://www.facebook.com/", name: "Главная"},{url: "https://www.facebook.com/", name: "Вторая"},{url: "https://www.facebook.com/", name: "Третья"}, {url: "https://www.facebook.com/", name: "Четвертая"}]
-var menu3 = [{url: "https://www.facebook.com/", name: "Главная"},{url: "https://www.facebook.com/", name: "Вторая"},{url: "https://www.facebook.com/", name: "Третья"}, {url: "https://www.facebook.com/", name: "Четвертая"}]