.count_time(data-count="13")
  .count_time-title
    strong Приемное время:
  .count_time-sub
    strong Часы приёма Председателем суда:
    p.
      Понедельник: с 16.00 до 18.00<br>
      Четверг: с 09.00 до 11.00
  .count_time-sub
    strong Часы приёма граждан<br> в приёмной суда (каб.№102):
    p.
      Понедельник-четверг с 09.00 до 18.00,<br>
      Пятница с 09.00 до 16.45
  .count_time-sub
    strong Часы приёма граждан архивом суда (каб. № 123):
    p.
      понедельник-четверг с 09.00 до 18.00,<br>
      пятница с 09.00 до 16.45
  .count_time-sub
    strong Часы приёма граждан<br> канцелярией по гражданским делам (каб. № 124):
    p.
      С понедельника по четверг с 9:00 до 18:00<br>
      Пятница с 9:00 до 16:45
  .count_time-sub
    strong Часы приема граждан<br> канцелярией по уголовным делам (каб. № 121):
    p.
      понедельник-четверг с 09.00 до 18.00,<br>
      пятница с 09.00 до 16.45
