.count_time(data-count="31")
  .count_time-title
    strong Приемное время:
  .count_time-sub
    strong Приём граждан Председателем суда
    p.
      Понедельник с 16.00 до 18.00<br>
      Четверг с 09.00 до 11.00
  .count_time-sub
    strong Часы приёма граждан<br> федеральными и мировыми судьями:
    p.
      Понедельникс с 14:00 до 18:00<br>
      Четверг с 09:00 до 13:00