.count_time(data-count="15")
  .count_time-title
    strong Приемное время:
  .count_time-sub
    strong Отдел по обеспечению судопроизводства<br> по уголовным делам (кабинет №58)
    p.
      Понедельник-Четверг 09.00-17.45<br>
      Пятница 09.00-16.30
  .count_time-sub
    strong Отдел по обеспечению судопроизводства<br> по гражданским делам (кабинет №56)
    p.
      Понедельник-Четверг 09.00 - 17.45<br>
      Пятница 09.00 - 16.30<br>
      Выдача документов: с 10.00 до 16.00
  .count_time-sub
    strong Отдел по<br> Административным делам<br> (кабинет №30)
    p.
      Понедельник-Четверг 09.00 - 17.45<br>
      Пятница 09.00 - 16.30
  .count_time-sub
    strong Экспедиция (кабинет №54)
    p.
      Понедельник-Четверг 09.00 - 17.45<br>
      Пятница 09.00 - 16.30
  .count_time-sub
    strong Приемная (кабинет №25)
    p.
      Понедельник-Четверг 09.00 - 17.45<br>
      Пятница 09.00 - 16.30
  .count_time-sub
    strong Архив
    p.
      Понедельник-Четверг 09.00 - 17.45<br>
      Пятница 09.00 - 16.30<br>
      выдача документов:<br>
      Понедельник с 14.00 до 18.00<br>
      Четверг с 9.00 до 13.00