.count_time(data-count="20")
  .count_time-title
    strong Приемное время:
  .count_time-sub
    strong Приемная председателя:
    p.
      ПН 14:00 – 16:00<br>
      ЧТ 10:00 - 12:00
  .count_time-sub
    strong Прием исковых заявлений районными судьями:
    p.
      ПН 14:00 - 18:00<br>
      ЧТ 9:00 - 13:00
  .count_time-sub
    strong Канцелярия по гражданским делам:
    p.
      ПН, ВТ,СР, ЧТ – 9:00-18:00<br>
      ПТ – 9:00-16:45