.count_time(data-count="12")
  .count_time-title
    strong Приемное время:
  .count_time-sub
    strong Часы приёма граждан<br> председателем суда:
    p.
      Понедельник: с 15:00 до 17:00<br>
      Четверг: с 09:00 до 11:00
  .count_time-sub
    strong Часы приёма судей<br> по гражданским делам:
    p.
      Понедельник: с 14:00 до 18:00<br>
      Четверг: с 9:00 до 13:00
  .count_time-sub
    strong Судьи по уголовным делам приёма граждан не ведут.
  .count_time-sub
    strong Часы приёма<br> гражданской канцелярии: (каб. № 14)
    p.
      С понедельника по четверг с 9:00 до 18:00<br>
      Пятница с 9:00 до 16:45
  .count_time-sub
    strong Часы приёма<br> архива: (каб. № 19)
    p.
      Понедельник – четверг с 9:00 до 18:00<br>
      Пятница с 9:00 до 16:45
