.count_time(data-count="24")
  .count_time-title
    strong Приемное время:
  .count_time-sub
    strong Часы приема председателя суда:
    p.
      Понедельник с 16.00 до 18.00,<br>
      Четверг с 09.00 до 11.00
  .count_time-sub
    strong Часы приема судей:
    p.
      Понедельникс 14.00 до 18.00<br>
      Четверг с 09.00 до 13.00
  .count_time-sub
    strong Часы приема уголовной канцелярии:
    p.
      Понедельник с 14.00 до 18.00,<br>
      Четверг с 09.00 до 13.00.
  .count_time-sub
    strong Часы приема<br> гражданской канцелярии::
    p.
      понедельник - четверг с 09.00 до 18.00,<br>
      пятница с 09.00 до 16.45.
  .count_time-sub
    strong Часы работы<br> архива суда:
    p.
      понедельник с 14.00 до 18.00,<br>
      четверг с 09.00 до 13.45.
