.count_time(data-count="6")
  .count_time-title
    strong Приемное время:
  .count_time-sub
    strong Приемные часы председателя::
    p.
      Понедельник: с 14.00 до 18.00<br>
      Четверг: с 9.00 до 13.00
  .count_time-sub
    strong.
      Часы приёма граждан<br> в приёмной суда (каб. 117):
    p.
      Понедельник: четверг с 09.00 до 18.00
      Четвергс: с 09.00 до 16.45
  .count_time-sub
    strong.
      Прием граждан:
    p.
      понедельник - четверг с 09.00 до 18.00
      пятница с 09.00 до 16.45