.count_time(data-count="1")
  .count_time-title
    strong Приемное время:
  .count_time-sub
    strong Приём граждан:
    p.
      Понедельник: с 14.00 до 18.00<br>
      Четверг: с 9.00 до 13.00
  .count_time-sub
    strong.
      Приём граждан Председателем<br> Головинского районного суда:
    p.
      Понедельник: с 16.00 до 18.00<br>
      Четвергс: 9.00 до 11.00