.count_time(data-count="32")
  .count_time-title
    strong Приемное время:
  .count_time-sub
    strong прием документов осуществляется<br> в приемной суда (кабинет № 101 этаж 1)
    p.
      с понедельника по четверг - с 9.00 до 18.00<br>
      пятница - с 9.00 до 16.45
  .count_time-sub
    strong Выдаче дел для ознакомления,<br> а так же решений осуществляется канцеляриями суда:
    p.
      с понедельника по четверг: с 9:00 до 17:50<br>
      в пятницу: с 09:00 до 16:35
  .count_time-sub
    strong Выдача документов из архива осуществляется:
    p.
      с понедельника по четверг: с 09:00 до 17:50<br>
      в пятницу: с 09:00 до 16:35