.count_time(data-count="10")
  .count_time-title
    strong Приемное время:
  .count_time-sub
    strong Часы приема<br> председателя суда:
    p.
      Понедельник: с 14.00 до 16.00<br>
      Четверг: с 09.00 до 11.00
  .count_time-sub
    strong.
      Прием граждан судьями:
    p.
      Понедельник: с 14.00 до 18.00<br>
      Четвергс: с 09.00 до 13.00
  .count_time-sub
    strong.
      Прием Канцелярией по гражданским делам:
    p.
      с понедельника по четверг: с 09.00 до 18.00<br>
      Пятница: с 09.00 до 16.45