.count_time(data-count="25")
  .count_time-title
    strong Приемное время:
  .count_time-sub
    strong прием председателя суда:
    p.
      Понедельник с 16.00 до 18.00<br>
      Четверг с 09.00 до 11.00
  .count_time-sub
    strong Прием федеральными судьями:
    p.
      Понедельникс с 14.00 до 18.00<br>
      Четверг с 09.00 до 13.00