.count_time(data-count="26")
  .count_time-title
    strong Приемное время:
  .count_time-sub
    strong часы приема канцелярии суда:
    p.
      Понедельник - четверг с 9:00 до 18:00<br>
      Пятница с 9:00 до 16:45
  .count_time-sub
    strong Часы приёма граждан<br> председателем суда: (каб. № 314)
    p.
      Понедельникс с 16:00 до 17:30<br>
      Четверг с 10:30 до 12:00
  .count_time-sub
    strong Часы приёма<br> исковых заявлений: (каб. № 307)
    p.
      Понедельник с 14:00 до 18:00<br>
      Четверг с 9:00 до 13:00