.count_time(data-count="7")
  .count_time-title
    strong Приемное время:
  .count_time-sub
    strong Часы приема председателя суда:
    p.
      Понедельник: с 16:00 до 18:00<br>
      Четверг: с 09:00 до 11:00
  .count_time-sub
    strong.
      Часы приема судей<br> по гражданским делам:
    p.
      Понедельник: четверг с 14:00 до 18:00<br>
      Четвергс: с 09:00 до 13:00
  .count_time-sub
    strong.
      Документы подаются в экспедицию
    p.
      понедельник - четверг с 09.00 до 18.00,<br>
      в пятницу с 9:00 до 16:45.