.count_time(data-count="21")
  .count_time-title
    strong Приемное время:
  .count_time-sub
    strong Часы приёма граждан председателем суда :
    p.
      Понедельник с 15:00 до 17:00<br>
      Четверг с 09:00 до 11:00
  .count_time-sub
    strong Часы приема архива:
    p.
      Понедельник – четверг с 9:00 до 18:00<br>
      Пятница с 9:00 до 16:45
  .count_time-sub
    strong Часы приёма граждан федеральными<br> судьями по гражданским делам
    p.
      Понедельник с 14:00 до 18:00<br>
      Четверг с 9:00 до 13:00
  .count_time-sub
    strong Федеральные судьи по уголовным делам прием не ведут