.count_time(data-count="18")
  .count_time-title
    strong Приемное время:
  .count_time-sub
    strong Приемные время федеральных судий:
    p.
      Понедельник с 14:00 до 18:00<br>
      Четверг с 9:00 до 14:00
  .count_time-sub
    strong Приемное время председателя суда:
    p.
      Понедельник в течении рабочего дня