.count_time(data-count="17")
  .count_time-title
    strong Приемное время:
  .count_time-sub
    strong Часы приёма Председателем суда
    p.
      Понедельник с 16:00 до 18:00<br>
      Четверг с 09:00 до 11:00
  .count_time-sub
    strong Часы приема судей по гражданским делам
    p.
      Понедельник с 14:00 до 18:00<br>
      Пятница 09.00 - 16.30<br>
      Четверг с 09:00 до 13:00