.count_time(data-count="14")
  .count_time-title
    strong Приемное время:
  .count_time-sub
    strong Часы работы гражданской (каб. № 55)<br> и уголовной (каб. № 7) канцелярий суда:
    p.
      Понедельник-четверг с 09:00 до 18:00<br>
      Пятница с 09:00 до 16:45
  .count_time-sub
    strong Приём граждан председателем суда:
    p.
      Понедельник с 14:00 до 16:00<br>
      Четверг с 10:00 до 12:00
  .count_time-sub
    strong Часы приёма граждан архивом суда (каб. № 123):
    p.
      понедельник-четверг с 09.00 до 18.00,<br>
      пятница с 09.00 до 16.45
  .count_time-sub
    strong приём граждан судьями:
    p.
      Понедельник с 14:00 до 18:00<br>
      Четверг с 09:00 до 13:00