section.section.article
  .container
    .row
      .col-lg-12.col-md-12
        .article_wrap
          h3.article_header Доля в недвижимости. Как правильно продать?
          .article_text
            p.
              Нередки такие случаи, когда на дом, квартиру или иное недвижимое имущество
              обладают правами несколько человек. Некоторые решают этот вопрос мирным
              путем, а некоторые люди на протяжении многих лет не могут поделить
              жилплощадь и всеми силами пытаются выхватить себе все помещение целиком.
              Нуждающиеся в денежных средствах, осуществляют продажу своей части, но
              во избежание неприятностей с законодательством и соседями необходимо знать
              несколько особенных правил.
            p.
              В статье 250 Гражданского кодекса сказано, что продавая свою часть дома, Вы
              обязаны изначально ее предложить участникам общей долевой собственности,
              так как именно они обладают правом ее первыми выкупить. Если по какой-то
              причине содольщики не воспользовались предоставленным им правом покупки
              доли согласно законодательству, то только теперь можно предложить купить ее
              постороннему лицу.
            p.
              Большинство продавцов хитрят, и заключают сделку о левом дарении, когда свою
              часть недвижимого имущества как-бы дарят третьему лицу с улицы, но, в
              действительности, берут денежные средства и просто не оглашают свои реальные
              действия. Если соседи по дому обратятся в суд и докажут тот факт, что сделка была
              незаконной, то новый собственник может остаться и без собственной доли, и без
              потраченных денежных средств. В том случае, если на самом деле было произведено
              дарение, то никакой суд не сможет отобрать данное имущество.
            .article_img
              img(src="img/article_img1.jpg", alt="pic")
            p.
              Возможет и такой вариант, что будущий приобретатель берет одну долю недвижимого
              имущества в подарок, а вторую часть – может купить у второго собственника, но за
              меньшую сумму и подтверждая свою покупку заключенным договором купли-продажи.
              Статья 421 кодекса предоставляет продавцу право выбора покупателя даже из большого
              количества владельцев жилого помещения по собственному желанию.
            p.
              Процесс продажи собственной доли начинается с письменного оповещения с
              установленной стоимостью, а также любых других условий остальных участников
              данной собственности о таком намерении. Содольщики должны выразить свою реакцию
              относительно данного заявления на протяжении месяца, а иначе покупатель будет взят
              со стороны. Оповестить содольщиков позволяется телеграммой или заказным письмом,
              или же с помощью нотариуса. Содержание текста может быть вполне произвольным, но
              в обязательном порядке указываются условия сделки, стоимость, адрес расположения
              имущества. Устанавливаются также сроки уплаты, если разговор ведется в отношении
              рассрочки. И последнее не менее важное – это установление сроков для ответа на
              данное оповещение.
            .article_img
              img(src="img/article_img2.jpg", alt="pic")
            p.
              В случае изменения каких-то условий продажи, все участники общей собственности
              должны быть обязательно уведомлены об этом. Если хотя-бы один из разделов договора
              продажи был нарушен, то содольщики вправе на протяжении трех последующих
              месяцев обратиться в суд.