section.section.baner
  .container
    .col-lg-6.col-md-6
      .baner_wrap
        .baner_left
          .baner_circle
          .baner_title
            span Добро пожаловать на Всем<br> в суд.ru!
          .baner_txt
            p.
              Как подать в суд? Как написать исковое заявление?<br>
              Как защищать свои права? Ответы на многие вопросы,
              связанные с защитой гражданами своих прав.<br>
              Вы сможете найти на настоящем сайте.
    .col-lg-6.col-md-6
      .baner_right
        .baner_info
          h3.baner_head Бесплатная консультация<br> по телефону:
          a.baner_tel(href="tel:+7 (495) 585-82-43") +7 (495) 585-82-43