section.section.list_art
  .container
    .row
      .col-lg-12.col-md-12
        .list_art-wrap_top
    .row
      .col-lg-6.col-md-6
        .list_art-left_col
          .list_art-icon
          ul.list_art-links
            li
              a.list_art-link(href="") Жилищная консультация
            li
              a.list_art-link(href="") Земельная консультация
            li
              a.list_art-link(href="") Трудовая консультация
            li
              a.list_art-link(href="") Семейный консультации
            li
              a.list_art-link(href="") Жилищная консультация
            li
              a.list_art-link(href="") Жилищная консультация
            li
              a.list_art-link(href="") Жилищная консультация
      .col-lg-6.col-md-6
        .list_art-right_col
          ul.list_art-links
            li
              a.list_art-link(href="") Жилищная консультация
            li
              a.list_art-link(href="") Земельная консультация
            li
              a.list_art-link(href="") Трудовая консультация
            li
              a.list_art-link(href="") Семейный консультации
            li
              a.list_art-link(href="") Жилищная консультация
            li
              a.list_art-link(href="") Жилищная консультация
            li
              a.list_art-link(href="") Жилищная консультация
    .row
      .col-lg-12.col-md-12
        .list_art-wrap_bottom