section.section.slider
.container
  .row
    .col-lg-12.col-md-12
      .slider_wrap
        h3.slider_header Статьи (кол-во: <span>25</span>)
        .slider_slick.js-slick
          //slider
          .slider_item
            a(href="#")
              .slider_img
                img(src="img/slider_img.jpg", alt="slider_img")
              .slider_bottom
                .slider_title
                  span Название статьи
                .slider_desc.
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Accusantium alias aliquam architecto blanditiis corporis, debitis
                  fugit harum illo laudantium nihil officia quibusdam recusandae
                  repellendus sapiente tempore vel, vero! Quae, rem.
          .slider_item
            a(href="#")
              .slider_img
                img(src="img/slider_img.jpg", alt="slider_img")
              .slider_bottom
                .slider_title
                  span Название статьи
                .slider_desc.
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Accusantium alias aliquam architecto blanditiis corporis, debitis
                  fugit harum illo laudantium nihil officia quibusdam recusandae
                  repellendus sapiente tempore vel, vero! Quae, rem.
          .slider_item
            a(href="#")
              .slider_img
                img(src="img/slider_img.jpg", alt="slider_img")
              .slider_bottom
                .slider_title
                  span Название статьи
                .slider_desc.
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Accusantium alias aliquam architecto blanditiis corporis, debitis
                  fugit harum illo laudantium nihil officia quibusdam recusandae
                  repellendus sapiente tempore vel, vero! Quae, rem.
          .slider_item
            a(href="#")
              .slider_img
                img(src="img/slider_img.jpg", alt="slider_img")
              .slider_bottom
                .slider_title
                  span Название статьи
                .slider_desc.
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Accusantium alias aliquam architecto blanditiis corporis, debitis
                  fugit harum illo laudantium nihil officia quibusdam recusandae
                  repellendus sapiente tempore vel, vero! Quae, rem.
          .slider_item
            a(href="#")
              .slider_img
                img(src="img/slider_img.jpg", alt="slider_img")
              .slider_bottom
                .slider_title
                  span Название статьи
                .slider_desc.
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Accusantium alias aliquam architecto blanditiis corporis, debitis
                  fugit harum illo laudantium nihil officia quibusdam recusandae
                  repellendus sapiente tempore vel, vero! Quae, rem.
          .slider_item
            a(href="#")
              .slider_img
                img(src="img/slider_img.jpg", alt="slider_img")
              .slider_bottom
                .slider_title
                  span Название статьи
                .slider_desc.
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Accusantium alias aliquam architecto blanditiis corporis, debitis
                  fugit harum illo laudantium nihil officia quibusdam recusandae
                  repellendus sapiente tempore vel, vero! Quae, rem.
          .slider_item
            a(href="#")
              .slider_img
                img(src="img/slider_img.jpg", alt="slider_img")
              .slider_bottom
                .slider_title
                  span Название статьи
                .slider_desc.
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Accusantium alias aliquam architecto blanditiis corporis, debitis
                  fugit harum illo laudantium nihil officia quibusdam recusandae
                  repellendus sapiente tempore vel, vero! Quae, rem.
          .slider_item
            a(href="#")
              .slider_img
                img(src="img/slider_img.jpg", alt="slider_img")
              .slider_bottom
                .slider_title
                  span Название статьи
                .slider_desc.
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Accusantium alias aliquam architecto blanditiis corporis, debitis
                  fugit harum illo laudantium nihil officia quibusdam recusandae
                  repellendus sapiente tempore vel, vero! Quae, rem.
        //end slider
        .slider_button
          a.slider_btn(href="#") Читать все
