.steps
  .steps_title Как защищать свои права ЧЕРЕЗ СУД
  ul.steps_list
    li.steps_item
      a.steps_link(href="javascript:;", data-fancybox, data-type="iframe", data-src="/step.html") Шаг 1. Решайтесь!
      .steps_desc.
        Принятие решения об обращении в суд
    li.steps_item
      a.steps_link(href="javascript:;", data-fancybox, data-type="iframe", data-src="/step.html") Шаг 2. Пытаемся решить дело миром!
      .steps_desc.
        Всегда можно договориться
    li.steps_item
      a.steps_link(href="javascript:;", data-fancybox, data-type="iframe", data-src="/step.html") Шаг 3. Пишем заявление!
      .steps_desc.
        Правила написания искового заявления.
    li.steps_item
      a.steps_link(href="javascript:;", data-fancybox, data-type="iframe", data-src="/step.html") Шаг 4. Определяем суд!
      .steps_desc.
        В Москве 35 районных суда и более 300 мировых судей!
        Какой из них нужен Вам?
    li.steps_item
      a.steps_link(href="javascript:;", data-fancybox, data-type="iframe", data-src="/step.html") Шаг 5. Оплачиваем госпошлину!
      .steps_desc.
        За правосудие тоже надо платить
    li.steps_item
      a.steps_link(href="javascript:;", data-fancybox, data-type="iframe", data-src="/step.html") Шаг 6. Подаем заявление в суд!
      .steps_desc.
        Подать заявление тоже нужно правильно!
    li.steps_item
      a.steps_link(href="javascript:;", data-fancybox, data-type="iframe", data-src="/step.html") Шаг 7. Готовимся к суду!
      .steps_desc.
        Подготовка дела к суду и предварительное судебное
        заседание.
    li.steps_item
      a.steps_link(href="javascript:;", data-fancybox, data-type="iframe", data-src="/step.html") Шаг 8. Выступаем в суде!
      .steps_desc.
        Основное судебное заседание.
    li.steps_item
      a.steps_link(href="javascript:;", data-fancybox, data-type="iframe", data-src="/step.html") Шаг 9. Получаем решение суда!
      .steps_desc.
        Решение еще надо получить
    li.steps_item
      a.steps_link(href="javascript:;", data-fancybox, data-type="iframe", data-src="/step.html") Шаг 10. Исполняем решение суда!
      .steps_desc.
        Работа с судебными приставами-исполнителями
  .steps_some
    a.steps_some-link(href="#") Сам себе представитель?