section.section.top_section
   .container
      .row
         .col-lg-8.col-md-8.col-sm-12
            include top_why
            include top_text
            include top_section_menu
         .col-lg-4.col-md-4.col-sm-12
            include steps

