.why
  h1.why_title Почему вам стоит обратиться к нам?
  ul.why_icons
    li.why_icon
        .why_icon-img.why_icon-i1
        .why_icon-txt.
          Цены на услуги существенно
          ниже, чем на услуги других
          юридических фирм и адвокатов;
    li.why_icon
        .why_icon-img.why_icon-i2
        .why_icon-txt.
          Вы сможете воспользоваться
          только теми услугами, которые
          вам действительно необходимы,
          не переплачивая за те виды услуг,
          которые вы можете сделать
          самостоятельно;
    li.why_icon
        .why_icon-img.why_icon-i3
        .why_icon-txt.
          Вы сможете в любой момент
          получить исчерпывающую
          информацию о ходе вашего дела
          по телефону, либо через интернет;
    li.why_icon
        .why_icon-img.why_icon-i4
        .why_icon-txt.
          У вас есть возможность
          удаленной  работы с юристом;
    li.why_icon
        .why_icon-img.why_icon-i5
        .why_icon-txt.
          Возможность выезда юриста к вам
          на дом или в офис.
