.top_text
  .top_text-wrap
    p.
      На данном сайте находится практически исчерпывающая информация о том, как самостоятельно
      отстаивать свои права в суде.
    p.
      Здесь, вы можете самостоятельно рассчитать госпошлину, и распечатать квитанцию для ее оплаты.
      Найти информацию об интересующем вас суде;  узнать как правильно написать и подать исковое заявление
      и как выступать на судебных заседаниях и как возбудить исполнительное производство.
    p.
      Однако, если цена «вопроса» слишком высока, и вы не уверены, что справитесь самостоятельно,
      советую вам обратиться за профессиональной помощью юриста.
