section.section.faq
  .container
    .row
      .col-lg-12.col-md-12
        h3.faq_header Вопросы и ответы
    .row
      .col-lg-12.col-md-12
        .faq_wrap
          .faq_item.js-faq.open
            .faq_qustns
              b -
              p.
                Какие нужны документы для суда первой инстанции по
                гражданским делам?
            .faq_answer(style="display: block")
              p.
                1. Исковое заявление (в некоторых случаях - заявление).
                2. Квитанция об уплате госпошлины (если госпошлина подлежит уплате.
                3. Прочие документы (копии), доказывающие обстоятельства, на которые вы ссылаетесь в суде
                4. Доверенность, в случае если вы представляете в суде интересы другого человека.
                5. Расчет суммы иска (если он отсутствует в иске).
              p.
                исчерпывающий перечень документов, необходимых для подачи искового заявления в суд первой
                инстанции соодержится в статьях 131 и 132 Гражданского процессуального кодекса РФ.
          .faq_item.js-faq
            .faq_qustns
              b +
              p.
                На меня подан иск по адресу нахождения моей
                собственности-квартиры, а не по адресу фактического
                проживания и постоянной прописки т.е. с нарушением
                подсудности. Заявление судья приняла к рассмотрению и
                назначила заседание, но при моем ознакомлении с делом я
                не обнаружила в нем ничего, кроме самого заявления и
                определения судьи принять к рассмотрению. 10 приложений,
                указанных в заявлении, отсутствовали. Я написала заявление
                о предоставлении мне возможности ознакомиться с
                приложениями истца. Тогда судья вынесла определение о
                том, чтобы истец предоставил приложения ( а уже месяц
                как заявление принято судьей и неделя до заседания!) и
                только тогда истец предоставил в суд приложения! Я,
                усомнившись в судье, заявила о нарушении подсудности и
                дело передают в другой суд. Как я могу добиться, чтобы
                срок приема иска был изменен или исчислялся с новой
                более поздней даты?
            .faq_answer
              p.
                1. Исковое заявление (в некоторых случаях - заявление).
                2. Квитанция об уплате госпошлины (если госпошлина подлежит уплате.
                3. Прочие документы (копии), доказывающие обстоятельства, на которые вы ссылаетесь в суде
                4. Доверенность, в случае если вы представляете в суде интересы другого человека.
                5. Расчет суммы иска (если он отсутствует в иске).
              p.
                исчерпывающий перечень документов, необходимых для подачи искового заявления в суд первой
                инстанции соодержится в статьях 131 и 132 Гражданского процессуального кодекса РФ.
          .faq_item.js-faq
            .faq_qustns
              b +
              p.
                Подскажите, пожалуйста, если я хочу отправить претензию на
                авиакомпанию, в связи с тем что мне не возвращают деньги
                за отмененный рейс, но представительства ее здесь нет,
                Могу ли я отправить претензию по почте или электронной
                почтой?
            .faq_answer
              p.
                1. Исковое заявление (в некоторых случаях - заявление).
                2. Квитанция об уплате госпошлины (если госпошлина подлежит уплате.
                3. Прочие документы (копии), доказывающие обстоятельства, на которые вы ссылаетесь в суде
                4. Доверенность, в случае если вы представляете в суде интересы другого человека.
                5. Расчет суммы иска (если он отсутствует в иске).
              p.
                исчерпывающий перечень документов, необходимых для подачи искового заявления в суд первой
                инстанции соодержится в статьях 131 и 132 Гражданского процессуального кодекса РФ.
          .faq_item.js-faq
            .faq_qustns
              b +
              p.
                На меня подан иск по адресу нахождения моей
                собственности-квартиры, а не по адресу фактического
                проживания и постоянной прописки т.е. с нарушением
                подсудности. Заявление судья приняла к рассмотрению и
                назначила заседание, но при моем ознакомлении с делом я
                не обнаружила в нем ничего, кроме самого заявления и
                определения судьи принять к рассмотрению. 10 приложений,
                указанных в заявлении, отсутствовали. Я написала заявление
                о предоставлении мне возможности ознакомиться с
                приложениями истца. Тогда судья вынесла определение о
                том, чтобы истец предоставил приложения ( а уже месяц
                как заявление принято судьей и неделя до заседания!) и
                только тогда истец предоставил в суд приложения! Я,
                усомнившись в судье, заявила о нарушении подсудности и
                дело передают в другой суд. Как я могу добиться, чтобы
                срок приема иска был изменен или исчислялся с новой
                более поздней даты?
            .faq_answer
              p.
                1. Исковое заявление (в некоторых случаях - заявление).
                2. Квитанция об уплате госпошлины (если госпошлина подлежит уплате.
                3. Прочие документы (копии), доказывающие обстоятельства, на которые вы ссылаетесь в суде
                4. Доверенность, в случае если вы представляете в суде интересы другого человека.
                5. Расчет суммы иска (если он отсутствует в иске).
              p.
                исчерпывающий перечень документов, необходимых для подачи искового заявления в суд первой
                инстанции соодержится в статьях 131 и 132 Гражданского процессуального кодекса РФ.
          .faq_item.js-faq
            .faq_qustns
              b +
              p.
                Добрый день! Помогите , пожалуйста определить размер
                госпошлины (не понимаю имущественного характера или
                нет у меня) - исковое заявление на сумму 11тыс.руб.о
                взыскании денег за возврат билета с авиакомпании.
                Спасибо
            .faq_answer
              p.
                1. Исковое заявление (в некоторых случаях - заявление).
                2. Квитанция об уплате госпошлины (если госпошлина подлежит уплате.
                3. Прочие документы (копии), доказывающие обстоятельства, на которые вы ссылаетесь в суде
                4. Доверенность, в случае если вы представляете в суде интересы другого человека.
                5. Расчет суммы иска (если он отсутствует в иске).
              p.
                исчерпывающий перечень документов, необходимых для подачи искового заявления в суд первой
                инстанции соодержится в статьях 131 и 132 Гражданского процессуального кодекса РФ.
    .row
      .col-lg-12.col-md-12
        ul.articles_pagination
          li.articles_beginning
            a(href="#") В начало
          li.articles_count
            a(href="#") 1
          li.articles_count
            a(href="#") 2
          li.articles_count
            a(href="#") 3
          li.articles_end
            a(href="#") В конец