section.section.v-list
  .container
    .row
      .col-lg-12.col-md-12
        h3.v-list_header Полезные Советы
        .v-list_wrap
          ul
            li
              .v-list_item
                .v-list_thumb
                  img(src="img/video_list.jpg", alt="video_list")
                a(href="#").v-list_desc
                  span Начисление алиментов
            li
              .v-list_item
                .v-list_thumb
                  img(src="img/video_list2.jpg", alt="video_list")
                a(href="#").v-list_desc
                  span Работодатель хочет уволить по собственному желанию
            li
              .v-list_item
                .v-list_thumb
                  img(src="img/video_list3.jpg", alt="video_list")
                a(href="#").v-list_desc
                  span Работодатель не выплачивает заработную плату
            li
              .v-list_item
                .v-list_thumb
                  img(src="img/video_list4.jpg", alt="video_list")
                a(href="#").v-list_desc
                  span Пропущен ли срок обращения в суд
            li
              .v-list_item
                .v-list_thumb
                  img(src="img/video_list5.jpg", alt="video_list")
                a(href="#").v-list_desc
                  span Попали в ДТП? Не соглаша-<br>йтесь со страховой компанией.
            li
              .v-list_item
                .v-list_thumb
                  img(src="img/video_list6.jpg", alt="video_list")
                a(href="#").v-list_desc
                  span Установление порядка пользо-<br> вания жилым помещением
            li
              .v-list_item
                .v-list_thumb
                  img(src="img/video_list7.jpg", alt="video_list")
                a(href="#").v-list_desc
                  span Звонок по телефону от пристава
            li
              .v-list_item
                .v-list_thumb
                  img(src="img/video_list8.jpg", alt="video_list")
                a(href="#").v-list_desc
                  span Повторное рассмотрение дела