footer.footer
   .container
      .row
         .col-lg-3.col-md-3
            .footer_logo
               a(href="/")
                  img.footer_logo-img(src="img/logo.png", alt="logo")
               a.footer_logo-title(href="/") VSEMvSUD.ru
         .col-lg-3.col-md-3
            ul.footer_list.footer_list-left
               li
                  a(href="#") ЗАКОНОДАТЕЛЬСТВО
               li
                  a(href="#") ОБ АВТОРЕ
               li
                  a(href="#") ЦЕНЫ НА ЮРИДИЧЕСКИЕ
               li
                  a(href="#") УСЛУГИ В МОСКВЕ
               li
                  a(href="#") СТОИМОСТЬ ЧАСТНОГО ЮРИСТА
               li
                  a(href="#") ПОМОЩЬ
               li
                  a(href="#") ВСЕ СТАТЬИ
               li
                  a(href="#") ВОПРОСЫ И ОТВЕТЫ

         .col-lg-3.col-md-3
            ul.footer_list.footer_list-right
               li
                  a(href="#") ПОЛЕЗНЫЕ СОВЕТЫ
               li
                  a(href="#") КОНТАКТЫ
               li
                  a(href="#") ЮРИСТ НА ДОМ
               li
                  a(href="#") ВОПРОСЫ И ОТВЕТЫ
               li
                  a(href="#") БЛОГ
               li
                  a(href="#") SAM-SEBE-URIST
               li
                  a(href="#") ПРАЙС-ЛИСТ НА УСЛУГИ РЕГИСТРАЦИИ
         .col-lg-3.col-md-3
            .footer_info
               .footer_info-top
                  a.footer_phone(href="tel:+7 (495) 585-82-43") +7 (495) 585-82-43
                  a.footer_mail(href="mailto:info@vsemvsud.ru") info@vsemvsud.ru
                  a.footer_btn.js-cbk(href="javascript:;", data-fancybox, data-src="#callback") Заказать звонок
               .footer_info-center
                  p г. Москва, Варшавское<br> ш. Д.132 стр. 9, оф. 589
               .footer_info-bottom
                  ul.footer_social
                     li
                        a.footer_link.footer_link-vk(href="#")
                     li
                        a.footer_link.footer_link-fb(href="#")
                     li
                        a.footer_link.footer_link-insta(href="#")

//mobile slide menu
include mob_menu

// callback modal
include callback

//qustions modal
include modal
//calc modal
include calc_modal


