header.header
   .container
      .row
        .col-lg-3.col-md-3.col-sm-3.col-xs-12
          .header_logo
             a(href="/")
                img.header_logo-img(src="img/logo.png", alt="logo")
        .col-lg-5.col-md-5.col-sm-5.col-xs-12
          .header_text.
             Юридические услуги - помощь при ДТП,
             разводах, исковые заявления, сопровождение
             в суде, составление претензии, консультирование.
        .col-lg-4.col-md-4.col-sm-4.col-xs-12
          .header_info
             a.header_phone(href="tel:+7 (495) 585-82-43") +7 (495) 585-82-43
             a.header_mail(href="mailto:info@vsemvsud.ru") info@vsemvsud.ru
      .row
         .col-md-12
            .nav
               a.nav_logo(href="/") VSEMvSUD.ru
               ul.nav_menu
                  li.nav_menu-item
                     a(href="/") ГЛАВНАЯ
                  li.nav_menu-item
                     a(href="#") СТАТЬИ<sup>25</sup>
                  li.nav_menu-item
                     a(href="#") ОБ АВТОРЕ
                  li.nav_menu-item
                     a(href="#") ЦЕНЫ
               .nav_humburger.js-nav
                  .nav_humburger-line.js-line