section.section.bottom_text
  .container
    .row
      .col-lg-12.col-md-12
        .slider_text
          p.
            Данная информация собрана в результаты судебной практики, она не устарела и актуальна
            на сегодняшний день, так как постоянно обновляется.
            Благодаря ей можно  вникнуть в суть судебного разбирательства и правильного
            ведения судебных дел.  Однако в делах, где ошибки могут
            привести к серьезным последствиям, мы рекомендуем обратиться к нашим юридическим
            услугам и доверить ведение дела профессионалам.